
.vs/AmazonSimulator VS/v15/.suo
.vs/AmazonSimulator VS/v15/Server/sqlite3/storage.ide-shm
AmazonSimulator VS/bin/Debug/netcoreapp2.0/AmazonSimulator VS.deps.json
AmazonSimulator VS/bin/Debug/netcoreapp2.0/AmazonSimulator VS.dll
AmazonSimulator VS/bin/Debug/netcoreapp2.0/AmazonSimulator VS.pdb
AmazonSimulator VS/bin/Debug/netcoreapp2.0/AmazonSimulator VS.runtimeconfig.dev.json
AmazonSimulator VS/obj/AmazonSimulator VS.csproj.nuget.cache
AmazonSimulator VS/obj/AmazonSimulator VS.csproj.nuget.g.props
AmazonSimulator VS/obj/AmazonSimulator VS.csproj.nuget.g.targets
AmazonSimulator VS/obj/Debug/netcoreapp2.0/AmazonSimulator VS.csproj.CoreCompileInputs.cache
AmazonSimulator VS/obj/Debug/netcoreapp2.0/AmazonSimulator VS.dll
AmazonSimulator VS/obj/Debug/netcoreapp2.0/AmazonSimulator VS.pdb
AmazonSimulator VS/obj/project.assets.json
AmazonSimulator VS/bin/Debug/netcoreapp2.0/AmazonSimulator VS.runtimeconfig.dev.json
AmazonSimulator VS/bin/Debug/netcoreapp2.0/AmazonSimulator VS.pdb
AmazonSimulator VS/bin/Debug/netcoreapp2.0/AmazonSimulator VS.dll
AmazonSimulator VS/bin/Debug/netcoreapp2.0/AmazonSimulator VS.deps.json
.vs/AmazonSimulator VS/v15/Server/sqlite3/storage.ide-wal
.vs/AmazonSimulator VS/v15/Server/sqlite3/storage.ide-shm
.vs/AmazonSimulator VS/v15/Server/sqlite3/storage.ide
.vs/AmazonSimulator VS/v15/.suo
.vs/AmazonSimulator VS/v15/Server/sqlite3/storage.ide
.vs/AmazonSimulator VS/v15/Server/sqlite3/storage.ide-shm
.vs/AmazonSimulator VS/v15/Server/sqlite3/storage.ide-wal
AmazonSimulator VS/bin/Debug/netcoreapp2.0/AmazonSimulator VS.deps.json
AmazonSimulator VS/bin/Debug/netcoreapp2.0/AmazonSimulator VS.dll
AmazonSimulator VS/bin/Debug/netcoreapp2.0/AmazonSimulator VS.pdb
AmazonSimulator VS/bin/Debug/netcoreapp2.0/AmazonSimulator VS.runtimeconfig.dev.json
AmazonSimulator VS/obj/AmazonSimulator VS.csproj.nuget.cache
AmazonSimulator VS/obj/AmazonSimulator VS.csproj.nuget.g.props
AmazonSimulator VS/obj/AmazonSimulator VS.csproj.nuget.g.targets
AmazonSimulator VS/obj/Debug/netcoreapp2.0/AmazonSimulator VS.csproj.CoreCompileInputs.cache
AmazonSimulator VS/obj/Debug/netcoreapp2.0/AmazonSimulator VS.dll
AmazonSimulator VS/obj/Debug/netcoreapp2.0/AmazonSimulator VS.pdb
AmazonSimulator VS/obj/project.assets.json
